/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

html{
  height:  100%;
}

body {
  padding-bottom: 40px;
  background-color: #f0f3f7;
  color: #292c35;
  height:  100%;
}


/* CUSTOMIZE THE NAVBAR
-------------------------------------------------- */

/* Special class on .container surrounding .navbar, used for positioning it into place. */
.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  z-index: 20;
  padding-top: 15px;
  background-color: #292c35;
  height: 95px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper > .container {
  padding-right: 0;
  padding-left: 0;
}

.img-responsive {
  height: 70px;
}

/* Define menú area
-------------------------------------------------- */
#navbar{
  margin-left: 0em;
  margin-top:  0.7em;
}
.menuset {
  float: left;
}

.navbar-wrapper .container {
  padding-bottom:  0px;
}

.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  
}
.navbar-wrapper .container .navbar-default{
  background-color: transparent;
  border-color: transparent;
  margin-top: -10px;
}
.navbar-wrapper .navbar .container .navbar-header .navbar-brand {
  width: 220px;
  height: 75px;
  margin-top: -10px;
}

.navbar-nav > li.last-element {
  border: none;
}

.navbar-nav > li {
  float:left;
  border-right: 1px solid #dddddd;
  padding-left: 5px;
  padding-right: 5px;
}

.navbar-default .navbar-nav > li > a{
  font-size: 16px;
  color: white;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #ff0000;
}

.navbar-default .navbar-nav > li > a:focus {
    color: white;
}

.nav>li>a.search-icon {

  float: right;
  margin-top: -4em;
  color: white;
  margin-right: -1.2em;

}

a:focus.search-icon {
  color: white;
}

.search-button-left {
    display: none;
}

#inputSearch {
  border-radius: 0em 0.25em 0.25em 0em;
}

/* Profile picture
-------------------------------------------------- */
.profile-info{
  padding-top: 8px;
  padding-bottom: 10px;
  padding-right: 18px;
}
.profile-info>img{
  height: 32px;
  width: 32px;
}
.profile-info>small{
  color:white;
  padding-left: 10px;
}




/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
.carousel {
  margin-top:  96px;
  height: 500px;
  margin-bottom: 60px;
}
/* Since positioning the image, we need to help out the caption */
.carousel-box {
  z-index: 10;
  right: 0px;
  left: 0px;
  bottom: 0px;
  opacity:0.7;
  background-color: #000000;
  padding-top: 140px;
  height: 100%;
  width: 100%;
}

/* Declare heights because of positioning of img element */
.carousel .item {
  height: 500px;
  background-color: #777;
}

.carousel-caption {
  padding-bottom: 85px;
}

.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100%;
}

.btn-carousel{
  color: #fff;
  border-color: #fff;
  margin-top: 2em;
}

.btn-carousel:hover{
  color: #000;
  border-color: #000;
  background-color: #fff;
}

.carousel-control {
  top: 0px;
}


/* MAIN BUTTONS HOME
-------------------------------------------------- */
.home-header-buttons{
  margin-bottom: 50px;
}


.btn-header-options {
  color: #fff;
  background-color: #1cbcb2;
  border-color: #1aada4;
  width: 100%;
  margin-top: 15px;
}

.btn-header-options:hover {
  color: #dadada;
  opacity: 0.7;
}

.btn-header-options:focus {
  color: #cacaca;
}


/* CAMPAIGNS CONTENT
-------------------------------------------------- */

/* Center align the text within the three columns below the carousel */
.campaigns{
  font-size:  14px;
  padding-bottom:  220px;
}

.thumbnail {
  background-color: #395a97;
  padding: 0px;
  border: none;
}

.campaign-list-right .thumbnail {
  padding-top: 8px;
  padding-bottom: 20px;
  margin-top:  -20px;
}

.campaign-list, .campaign-list-right {
  padding-top:  20px;
  margin-bottom: 0px;
  color: #fff;
  text-align: center;
}

.campaigns h2 {
   color: #79797c;
}

.campaigns h3 {
  color: #050607;
  background-color: #f0f3f7;
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  margin-top: 0em;
}

a.campaign-name {
  color: #ffffff;
}


.edit-campaign-name {
  color:#e90e79;
  padding-top:  28px;
  text-align: center;
}

.price-title{
  padding-left: 24px;
  text-align: justify;
}

.price-amount{
  padding-left: 10px;
  text-align: justify;
  font-size: 24px;
  font-weight: bold;
}

.campaign-progress {
  height: 20px;
  margin-top: -8px;
  margin-bottom: 5px;
}

.campaign-progress-info-area {
  margin-top: 20px;
}

.campaign-progress-info {
  text-align: justify;
  padding-left: 12px;
  padding-top: 4px;
}

.edit-price{
  text-align: right;
  padding-top: 6px;
  padding-right: 32px;
}

a.link-edit{
  color:#e90e79;
}


.campaign-list p, .campaign-list-right p {
  color: #9daccc;
  margin-right: 10px;
  margin-left: 10px;
  text-align: left;
  height: 100px;
  font-size: 14px;
}

.campaign-list .campaign-values p, .campaign-list-right .campaign-values p{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  height: 100%;
  padding-top: 15px;
}

.campaign-list .campaign-values .progress, .campaign-list-right .campaign-values .progress{
  margin-left: 5px;
  margin-right: 5px;
}

.campaign-list .campaign-values .progress-bar, .campaign-list-right .campaign-values .progress-bar{
  background-color: #e90e79;
}

.img-gift {
  margin-top: -10px;
  margin-bottom: 1em;
}

.thumbnail>img {
  width: 100%;
  height: 100%;
}


/* Featurettes
------------------------- */

.featurette-divider {
  margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the campaigns headings */
.featurette-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -1px;
}


/* Campaign Details
-------------------------------------------------- */

.form-edit{
  padding-bottom: 16px;
}

.campaign-details{
  padding-top: 120px;
  padding-bottom: 250px;
}

.campaign-details h1 {
  padding-left: 32px;
  // font-size:  48px;
  padding-bottom: 24px;
}

.campaign-details h2 {
  padding-left: 32px;
  font-size:  36px;
  padding-bottom: 12px;
  font-weight: bold;
  text-align: center;
}

.grey-line{
  border: 1px solid #cacacd;
}

.bubble-description {
    position: relative;
    width: 100%;
    height: 115px;
    padding: 10px;
    background: #e4e4e4;
    color: #333231;
    font-size: 16px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 0px 0px 5px 5px;
    margin-left: 0px;
  }

  
  .bubble-description:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 10px 10px 0;
    border-color: #dadada transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -10px;
    bottom: -10px;
    left: 10%;
  }

  .profile-picture{
    width: 88px;
    height: 88px;
    margin-left:10%;
  }

  .campaign-full-picture {
    height: 100%;
    width: 100%;
  }

  .campaign-owner{
    margin-top: 10px;
    padding-left: 10px;
  }

  .inputDonate{
    width: 100%
  }

  /* Share campaign area
   --------------------*/
  .bubble-short-link {
    position: relative;
    width: 135px;
    height: 30px;
    padding: 6px;
    background: #fff;
    color: #333231;
    border: 1px solid #ccc;
    font-size: 10px;
    -webkit-border-radius: 0px 0px 5px 5px;
    -moz-border-radius: 0px 0px 5px 5px;
    border-radius: 2px 2px 2px 2px;
    margin-left: 0px;
  }

  .bubble-short-link:before {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 5px 5px 0;
    border-color: #ccc transparent;
    display: block;
    width: 0;
    z-index: 0;
    margin-left: -6px;
    bottom: -6px;
    left: 20%;
  }

  .bubble-short-link:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 4px 4px 0;
    border-color: #fff transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -5px;
    bottom: -4px;
    left: 20%;
  }

  .short-link-badge {
    padding-top: 8px;
    padding-left: 17px;
  }

  .share-campaign-area {
    margin-top: 12px;
    padding-left: 64px;
    padding-bottom: 12px;
  }

  .share-campaign-element {
    padding-bottom: 18px;
  }

  .campaign-last-message {
    background-color: #f8b8d8;
  }

  .alert-default {
    color: #888887;
    background-color: #e4e4e4;
    border-color: #f5f5f5;
  }


  .alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -30px;
    color: #f9f9f9;
    background-color: #e9127b;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 5px;
  }

  .alert-dismissible .next {
    top: 12px;
    right: -52px;
  }

  .alert-comments{
    margin-left: 14px;
    margin-right: 14px;
  }

  .comments-area {
    border: 6px solid #c5c5c5;
  }

  .next-campaign-comment{
    padding:  12px 24px 24px 24px;
  }

  .hightlight-red {
    color:  #a94442 !important;
  }

  .alert-hightlight {
    color: #888887;
    background-color: #f2dede;
    border-color: #ebccd1;
  }

  #form-edit-price-amount {
    padding-left: 12px;
    padding-right: 12px;
  }

  .text-area-box {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100% !important;
  }

  #inputCampDescription { 
    resize: none; 
    margin: 2px 2px 2px 2px;
    height: 54px;
    border-radius: 5px;
    display: block;
  }


  #form-edit-CampPriceAmount{
    margin-left: 5px;
    margin-right: 5px;
  }
  #inputCampPriceAmount {
    font-size: 18px;
  }

  .btn-group-edit-photo {
    margin-left: 32px;
    padding-bottom: 12px;
    padding-top: 4px;
  }

  /*
  Comment Section For Campaign Details
   */
  .campaign-contribution-amount{
    width: 90%;
    margin-left:14px;
  }

  .cyan-title {
    color: #1cbcb2;
    font-weight: bold;
  }

  .contribute-form-area{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }

  .btn-contribute-now {
    margin-top: -5px;
    margin-left: -16px;
  }

  

/* Footer Section
------------------------- */
footer{
  color: #f0f3f7;
  background-color: #292c35;
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  clear:both;
}

footer .container{
  padding-top: 3em;
  padding-bottom: 3em;
}

.footer-divider {
  margin-top: 50px;
}

.footer-title {
  width: 100%;
  font-weight: bold;
  font-size: 16px;
}

.footer-links, .contact-info {
  font-weight: normal;
  line-height: 20px;
  display: block;
  color: #ffffff;
  padding-left: 1.2em;
  padding-top: 0.4em;
}
.footer-links:hover, .footer-links:active {
  text-decoration: underline;
  color: #dadada;
}


/* RESPONSIVE CSS
-------------------------------------------------- */

@media (max-width: 767px) {
  #navbar {
    width: 100%;
    background-color: #ffffff;
    border: 1px solid #5a5a5a;
    border-radius: 5px;
    margin: -0.35em 0em 0em 0em;
  }

  .navbar-nav {
    margin: 0em 0em 0em 0em;
  }


  .navbar-toggle {
     margin-top: 25px;
  }

  .navbar-collapse {
    padding-right: 8px;
  }

  .navbar-nav > li {
    width:  50%;
    text-align: center;
    border: none;
  }

  .navbar-default .navbar-nav > li > a{
    color: #5a5a5a;
  }

  .navbar-default .navbar-nav > li > a:focus{
    color: #5a5a5a;
  }

  .navbar-nav > li.search-campaign {
    width:  100%;
    margin: -0.6em 0em -0.6em 0em;
    padding-right: 0.5em;
  }
  
  .nav>li>a.search-icon {
    display: none;
  }

  .search-button-right {
    display: none;
  }
  
  .search-button-left {
    display: table-cell;
  }

  .hide-search{
    display: block;
  }


  .bubble {
    border: none;
    background-color: transparent !important;
  }

  .bubble:after {
    border: none;
    background-color: transparent !important;
  }


  .navbar-nav > li.last-element-mobile {
    border-right: 1px solid #dddddd;
  }

  .btn-contribute-now {
    width: 90%;
  }

}


@media (min-width: 768px) {
  
  .navbar-wrapper .navbar .container .navbar-header .navbar-brand {
    margin-top: -20px;
  }

  .img-responsive {
    height: 90px;
  }
  
  .menuset {
    width: 60%;
    margin-left: 5em;

  }

  .navbar-wrapper{
    height: 130px;
  }

  .navbar-wrapper .container {
    padding-right: 5px;
    padding-left: 5px;
    width: 92%;
  }
  .navbar-wrapper .navbar {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 14px;
  }


  /* SEACH FORM */

  .search-form-area{
    margin-top: 6px;
    width: 390px;
    padding-left: 10px;
    padding-right: 30px;
  }

  #inputSearch {
    font-size: 75%;
    border-radius: 0em 0.5em 0.5em 0em;
  }

  .hide-search{
    display: none;
  }


  .bubble {
    position: relative;
    width: 325px;
    height: 55px;
    padding: 2px;
    background: #FFFFFF;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }

  
  .bubble:after {
    content: '';
    position: absolute;
    border-style: solid;
    border-width: 0 10px 11px;
    border-color: #FFFFFF transparent;
    display: block;
    width: 0;
    z-index: 1;
    margin-left: -10px;
    top: -11px;
    left: 80%;
  }
  

  .navbar-nav > li.search-campaign {
    position: absolute;
    margin-top:  4em;
    margin-left: 0em;
    width: 35%;
  }


  /* The navbar becomes detached from the top, so we round the corners */
  .navbar-wrapper .navbar {
    border-radius: 4px;
  }

  /* Bump up size of carousel content */
  .carousel-caption p {
    margin-bottom: 20px;
    font-size: 21px;
    line-height: 1.4;
  }

  /*
  Choose option layout
   */
  .btn-header-options {
    font-size: 18px;
    width: 70%;
  }

  .centered {
    position: relative;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  .featurette-heading {
    font-size: 50px;
  }


  /*
  Comment Section For Campaign Details
   */
  .campaign-contribution-amount{
    width: 205%;
    margin-left:0px;
  }
}

@media (min-width: 992px) {

  .navbar-wrapper .navbar .container .navbar-header .navbar-brand {
    margin-top: -20px;
  }

  .img-responsive {
    height: 90px;
  }

  .menuset {
    width: 75%;
  }

  .navbar-wrapper{
    height: 95px;
  }

  .navbar-wrapper .container {
    padding-right: 0px;
    padding-left: 5px;
  }

  .featurette-heading {
    margin-top: 120px;
  }

  .navbar-wrapper .navbar .container {
    width: 950px;
  }

  .navbar-default .navbar-nav > li > a {
    font-size: 16px;
  }

  /* SEACH FORM */
  .search-form-area{
    width: 280px;
  }
  
  li.menu-login{
    margin-right: -25px;
  }

  li.menu-sign-up{
    padding-left: 45px;
  }


  .navbar-nav > li.search-campaign {
    position: relative;
    margin-top:  0em;
    margin-left:  0em;
    width: 40%;
  }

  #inputSearch {
    border-radius: 0em 0.25em 0.25em 0em;
  }
  
  .nav>li>a.search-icon {
    display: none;
  }

  .search-button-right {
    display: none;
  }
  
  .search-button-left {
    display: table-cell;
  }

  .search-form  {
    display: block;
  }

  .bubble {
    border: none;
    background-color: transparent !important;
  }

  .bubble:after {
    border: none;
    background-color: transparent !important;
  }

  .campaign-list {
    width: 25%;
  }

  .campaign-list p {
    height: 150px;
  }
  .thumbnail>img {
    height: 150px;
  }

  /*
  Font size for choose buttons
   */
  .btn-header-options {
    font-size: 22px;
  }

  /*
  Comment Section For Campaign Details
   */
  .comments-area {
    /*margin-top: -220px;*/
  }

  .campaign-contribution-amount{
    width: 155%;
  }
  .edit-campaign-name {
    text-align: left;
  }

  .contribution-log {
    margin-right: 15px;
    margin-left: -15px;
  }

}

@media (min-width:1200px){
  
  .navbar-wrapper .navbar .container .navbar-header .navbar-brand {
    margin-top: -20px;
  }

  .img-responsive {
    height: 90px;
  }

  .menuset {
    width: 75%;
  }

  .navbar-wrapper .navbar .container {
    width: auto;
  }

  li.menu-login{
    margin-right: -75px;
  }

  li.menu-sign-up{
    padding-left: 130px;
  }

  .navbar-nav > li.search-campaign {
    width: 300px;
  }
  
  .campaign-list p {
    height: 100px;
  }

  /*
  Font size for choose buttons
   */
  .btn-header-options {
    font-size: 24px;
  }

  /*
  Comment Section For Campaign Details
   */
  .comments-area {
    /*margin-top: -220px;*/
  }

  .campaign-contribution-amount{
    width: 190%;
  }

}
